<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Reset Password</title>
      <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles_reset_password.css') }}">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
   </head>
   <body>
      <div class="center">

         <div class="container">
            <div class="text">
               Reset Your Password
            </div>

            <div class="Explanation_text">
              <p style="margin-top: 1.5em;">Please enter your new password.</p>
              <!-- <p style="margin-top: 1.5em;">We will send you an email with a link to reset your password.</p> -->
              
            </div>

            {% if failed_login_message %}
            <div id="failed_login_message">{{ failed_login_message }}</div>
            {% endif %}

            <form method="post">
              {% if user_email %}
                <div class="data">
                  <label>Email</label>
                  <input type="text" name="email" value="{{ user_email }}" disabled required>
                </div>
              {% endif %}


              <div class="data">
                <label>New Password</label>
                <input type="password" name="password" required>
              </div>

              <div class="data">
                <label>Repeat Password</label>
                <input type="password" name="password2" required>
              </div>

               <div class="btn">
                  <div class="inner"></div>
                  <button type="submit">Change Password</button>
               </div>

               <div class="home-btn">
                  <button class="home-button" onclick="window.location='/';">Home</button>
               </div>
            </form>
         </div>
      </div>
   </body>
</html>